* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #81C3D7;
  text-align: center;
}

main {
  margin-right: 20px;
  margin-left: 20px;
  padding: 20px;
  background-color: white;
}

h1 {
    text-align: center;
    color: #2F6690;
    font-family: 'DM Serif Display', serif;
  }


img {
  width: 500px;
  border-radius: 20px;
  text-align: center;
}

nav {
  background-color: #3A7CA5;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 25px;
}

nav a {
  color: white;
  font-size: 1.5em;
}

nav a:hover {
  color: cornflowerblue;
  text-decoration: none;
}

form {
  display: inline;
}

.inactive {
  color: gray;
}

.border {
  border: 1px solid gray;
}

#github {
  width: 60px;
  height: auto;
  vertical-align: middle;
}

#footer-text {
  font-size: 0.75em;
}

#footer {
  font-family:'Righteous', cursive; 
}

.photoCred {
  font-size: 0.7em;
}

.img-resize {
  height: 300px;
}

